/*	Clearfix Hack 	http://meyerweb.com/eric/tools/css/reset/ */
/* line 34, ../sass/forms.scss */
form { *zoom: 1; margin: 20px 0; }
/* line 32, ../sass/partials/_base.scss */
form:before, form:after { content: " "; display: table; }
/* line 36, ../sass/partials/_base.scss */
form:after { clear: both; }
/* line 38, ../sass/forms.scss */
form label { margin-bottom: 3px; margin-left: -2px; padding: 3px; vertical-align: middle; cursor: pointer; }
/* line 46, ../sass/forms.scss */
form label, form h5, form .label-title { font-family: "Helvetica", "Helevetica Neue", "Arial", sans-serif; color: #555; font-size: 1.25em; font-weight: 600; }
/* line 53, ../sass/forms.scss */
form div { *zoom: 1; margin: 10px 0 20px 0; }
/* line 32, ../sass/partials/_base.scss */
form div:before, form div:after { content: " "; display: table; }
/* line 36, ../sass/partials/_base.scss */
form div:after { clear: both; }

/* line 59, ../sass/forms.scss */
fieldset { margin-bottom: 20px; }
/* line 61, ../sass/forms.scss */
fieldset legend { margin-bottom: 30px; padding: 0 0 10px 10px; width: 100%; border-bottom: 1px solid #AAA; font-size: 1.5em; }

/* line 75, ../sass/forms.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="file"], textarea, select { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-family: "Helvetica", "Helevetica Neue", "Arial", sans-serif; min-width: 350px; padding: 5px; border: 1px solid #AAA; font-size: 1em; outline: none; }
/* line 83, ../sass/forms.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="file"]:focus, textarea:focus, select:focus { box-shadow: 0 0 4px #777777; -moz-box-shadow: 0 0 4px #777777; -webkit-box-shadow: 0 0 4px #777777; transition: all 0.1s ease; -moz-transition: all 0.1s ease; -webkit-transition: all 0.1s ease; border-color: #777; }

/* line 90, ../sass/forms.scss */
textarea { overflow-y: auto; resize: vertical; min-height: 75px; }

/* line 96, ../sass/forms.scss */
select { cursor: pointer; }

/* line 101, ../sass/forms.scss */
input[type="checkbox"], input[type="radio"] { display: inline; }

/* line 106, ../sass/forms.scss */
input[disabled="disabled"], .disabled { background-color: #CCC; border: solid 1px #AAA; }
/* line 109, ../sass/forms.scss */
input[disabled="disabled"]:hover, input[disabled="disabled"]:active, .disabled:hover, .disabled:active { background-color: #bfbfbf; transition: background 0.25s ease; -moz-transition: background 0.25s ease; -webkit-transition: background 0.25s ease; }

/* line 116, ../sass/forms.scss */
.input-choose-group div { margin: 10px; }
/* line 119, ../sass/forms.scss */
.input-choose-group label { margin-right: 10px !important; color: #333; font-size: 0.9em !important; }
/* line 124, ../sass/forms.scss */
.input-choose-group label, .input-choose-group input, .input-choose-group textarea, .input-choose-group select { display: inline !important; }

/* line 129, ../sass/forms.scss */
.button-container { margin-top: 40px; }
/* line 131, ../sass/forms.scss */
.button-container input, .button-container button, .button-container a.button { display: inline-block !important; }

/* line 137, ../sass/forms.scss */
.form-vert > div label, .form-vert > div input, .form-vert > div textarea, .form-vert > div select { display: block; }

/* line 143, ../sass/forms.scss */
.form-hor > div label { display: inline-block; margin-right: 15px; width: 175px; vertical-align: top; }

/* buttons */
/* line 156, ../sass/forms.scss */
a.button, button, input[type="submit"], input[type="reset"], input[type="button"] { font-family: "Helvetica", "Helevetica Neue", "Arial", sans-serif; cursor: pointer; display: inline-block; vertical-align: top; /* prevents other buttons from moving when one is active */ -webkit-appearance: none; border-style: solid; font-size: 14px; font-weight: 600; line-height: normal; text-align: center; text-decoration: none; text-shadow: 0 1px rgba(255, 255, 255, 0.4); /* Fix for odd Mozilla border & padding issues */ }
/* line 171, ../sass/forms.scss */
a.button::-moz-focus-inner, button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border: 0; padding: 0; }

/* buttonn themes */
/* line 6, ../sass/forms.scss */
input[type="submit"], .positive-btn { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 10px; padding: 10px 15px; background-color: #33bb00; border-color: #227700; border-width: 1px 1px 4px 1px; color: #FFF !important; text-shadow: none !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* line 22, ../sass/partials/buttons/_threeD.scss */
input[type="submit"]:active, .positive-btn:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; position: relative; background-color: #229900; border-width: 3px 1px 1px 1px; margin-top: 11px; }
/* line 30, ../sass/partials/buttons/_threeD.scss */
input[type="submit"]:hover, .positive-btn:hover { background-color: #44bb22; border-color: #227700; }

/* line 9, ../sass/forms.scss */
input[type="reset"], .negative-btn { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 10px; padding: 10px 15px; background-color: #bb0022; border-color: #880011; border-width: 1px 1px 4px 1px; color: #FFF !important; text-shadow: none !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* line 22, ../sass/partials/buttons/_threeD.scss */
input[type="reset"]:active, .negative-btn:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; position: relative; background-color: #aa0011; border-width: 3px 1px 1px 1px; margin-top: 11px; }
/* line 30, ../sass/partials/buttons/_threeD.scss */
input[type="reset"]:hover, .negative-btn:hover { background-color: #cc2233; border-color: #880011; }

/* line 12, ../sass/forms.scss */
.warning-btn { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 10px; padding: 10px 15px; background-color: #cc9900; border-color: #996600; border-width: 1px 1px 4px 1px; color: #FFF !important; text-shadow: none !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* line 22, ../sass/partials/buttons/_threeD.scss */
.warning-btn:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; position: relative; background-color: #bb8800; border-width: 3px 1px 1px 1px; margin-top: 11px; }
/* line 30, ../sass/partials/buttons/_threeD.scss */
.warning-btn:hover { background-color: #ddaa22; border-color: #996600; }

/* line 15, ../sass/forms.scss */
.regular-btn { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 10px; padding: 10px 15px; background-color: #888888; border-color: #444444; border-width: 1px 1px 4px 1px; color: #FFF !important; text-shadow: none !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* line 22, ../sass/partials/buttons/_threeD.scss */
.regular-btn:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; position: relative; background-color: #666666; border-width: 3px 1px 1px 1px; margin-top: 11px; }
/* line 30, ../sass/partials/buttons/_threeD.scss */
.regular-btn:hover { background-color: gray; border-color: #444444; }
