/*	Clearfix Hack 	http://meyerweb.com/eric/tools/css/reset/ */
/* general */
/* line 4, ../sass/general.scss */
body { color: #333; font-family: "Helvetica", "Helevetica Neue", "Arial", sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

/* line 6, ../sass/general.scss */
::selection, ::-moz-selection { background: rgba(136, 221, 102, 0.75); color: #111; }

/* line 7, ../sass/general.scss */
img { height: auto; max-width: 100%; }

/* heading */
/* line 10, ../sass/general.scss */
h1, h2, h3, h4, h5, h6 { color: #222; font-family: "Georgia", "Times New Roman", serif; }
/* line 12, ../sass/general.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

/* line 14, ../sass/general.scss */
h1 { font-size: 44px; line-height: 50px; margin-bottom: 12px; }

/* line 15, ../sass/general.scss */
h2 { font-size: 33px; line-height: 40px; margin-bottom: 10px; }

/* line 16, ../sass/general.scss */
h3 { font-size: 28px; line-height: 33px; margin-bottom: 8px; }

/* line 17, ../sass/general.scss */
h4 { font-size: 20px; line-height: 28px; margin-bottom: 6px; }

/* line 18, ../sass/general.scss */
h5 { font-size: 18px; line-height: 24px; margin-bottom: 6px; }

/* line 19, ../sass/general.scss */
h6 { font-size: 16px; line-height: 20px; margin-bottom: 6px; }

/* paragraph */
/* line 22, ../sass/general.scss */
p { margin-bottom: 10px; line-height: 1.5; }

/* line 23, ../sass/general.scss */
strong, b { font-weight: bold; }

/* line 24, ../sass/general.scss */
em, i { font-style: italic; }

/* line 25, ../sass/general.scss */
small { font-size: 75%; }

/* links */
/* line 28, ../sass/general.scss */
a { color: #00aaff; text-decoration: none; }
/* line 29, ../sass/general.scss */
a:hover { text-decoration: underline; }
/* line 30, ../sass/general.scss */
a:visited { color: #04F; }

/* lists */
/* line 34, ../sass/general.scss */
ul, ol { margin: 0 0 20px 25px; }
/* line 36, ../sass/general.scss */
ul ul, ul ol, ol ul, ol ol { margin: 4px 0 5px 30px; font-size: 90%; }
/* line 37, ../sass/general.scss */
ul ul li, ul ol li, ol ul li, ol ol li { margin-bottom: 6px; }

/* line 40, ../sass/general.scss */
ul { list-style: square outside; }
/* line 42, ../sass/general.scss */
ul.square { list-style: square outside; }
/* line 43, ../sass/general.scss */
ul.circle { list-style: circle outside; }
/* line 44, ../sass/general.scss */
ul.disc { list-style: disc outside; }
/* line 45, ../sass/general.scss */
ul.large li { line-height: 21px; }

/* line 47, ../sass/general.scss */
ol { list-style: decimal; }

/* line 48, ../sass/general.scss */
li { margin-bottom: 10px; }
/* line 50, ../sass/general.scss */
li p { line-height: 21px; }

/* code */
/* line 54, ../sass/general.scss */
code { padding: 3px 0; background: #DDD; border-bottom: solid 1px #AAA; line-height: 1.5em; font-family: "Consolas", "Liberation Mono", "Courier", "Courier New", monospace; font-size: 0.8em; }

/* line 56, ../sass/general.scss */
tt { font-family: "Consolas", "Liberation Mono", "Courier", "Courier New", monospace; }

/* line 58, ../sass/general.scss */
kbd { padding: 0 1px; vertical-align: middle; background: #EEE; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #333; font-family: "Consolas", "Liberation Mono", "Courier", "Courier New", monospace; font-size: 80%; font-weight: normal; letter-spacing: -0.03em; }

/* blockquote */
/* line 64, ../sass/general.scss */
blockquote { margin: 10px 0 10px 10px; padding: 3px 0 3px 15px; border-left: 1px solid #DDD; }
/* line 66, ../sass/general.scss */
blockquote cite { display: block; font-size: 12px; color: #555; }
/* line 67, ../sass/general.scss */
blockquote cite:before { content: "\2014 \0020"; }
/* line 68, ../sass/general.scss */
blockquote cite a { text-decoration: underline; }
/* line 69, ../sass/general.scss */
blockquote cite a:visited { color: #555; }
/* line 72, ../sass/general.scss */
blockquote, blockquote p { font-size: 14px; line-height: 1.5em; color: #777; font-style: italic; }
/* line 73, ../sass/general.scss */
blockquote p { margin-bottom: 0; }

/* horizontal rule */
/* line 77, ../sass/general.scss */
hr { border: solid #DDD; border-width: 1px 0 0; clear: both; margin: 15px 0; height: 0; }

/* table */
/* line 80, ../sass/general.scss */
table { margin: 10px 0; width: 100%; border-collapse: collapse; border-spacing: 0; }
/* line 81, ../sass/general.scss */
table th, table td { border: 1px solid #CCC; word-wrap: break-word; }
/* line 82, ../sass/general.scss */
table th { padding: 5px 10px; background: #DEDEDE; font-size: 95%; }
/* line 83, ../sass/general.scss */
table td { padding: 5px 7px; font-size: 85%; }

/* message */
/* line 87, ../sass/general.scss */
.message { margin: 15px; padding: 10px; *zoom: 1; background: #DDD; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px #888 solid; box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.4); font-size: 13px; }
/* line 32, C:/Users/Troy/github/default-css/sass/partials/_base.scss */
.message:before, .message:after { content: " "; display: table; }
/* line 36, C:/Users/Troy/github/default-css/sass/partials/_base.scss */
.message:after { clear: both; }
/* line 91, ../sass/general.scss */
.message p { margin-bottom: 0; }

/* line 93, ../sass/general.scss */
.success { background-color: #44bb22; border-color: #33bb00; color: #33bb00; }

/* line 94, ../sass/general.scss */
.error { background-color: #cc2233; border-color: #bb0022; color: #bb0022; }

/* line 95, ../sass/general.scss */
.warning { background-color: #ddaa22; border-color: #cc9900; color: #cc9900; }

/* HTML5: navigation */
/* line 99, ../sass/general.scss */
nav ul { margin: 0; }
/* line 100, ../sass/general.scss */
nav ul li { display: inline-block; list-style: none; margin: 10px; }

/* line 104, ../sass/general.scss */
.full-width { width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }
