@import "partials/base";
@import "partials/buttons/index";

form { 
	@include clearfix;

	label { 
		margin-bottom: 3px;
		margin-left: -2px;
		padding: 3px; 
		vertical-align: middle;
		cursor: pointer;  
	}

	label, h5, .label-title {
		@include sans-serif-font("");
		color: #555;
		font-size: 1em;
		font-weight: 600;
	}

	div {
		@include clearfix;
		margin: 10px 0 20px 0;
	}
}

fieldset {
	margin-bottom: 20px; 
	legend { 
		margin-bottom: 30px; 
		padding: 0 0 10px 10px; 
		width: 100%; 
		border-bottom: 1px solid #AAA; 
		font-size: 1.5em; 
	}
} 

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="file"], 
textarea, 
select { 
	@include border-radius(4px);
	@include sans-serif-font("");
	min-width: 350px;
	padding: 5px; 
	vertical-align: middle;
	border: 1px solid #AAA; 
	font-size: 1em;
	outline: none; 
	&:focus { 
		@include box-shadow(0 0 4px #777); 
		@include transition("all 0.1s ease");
		border-color: #777;  
	}
}

input[type="email"], 
input[type="file"] {
	@include monospace-font("");
}

textarea { 
	overflow-y: auto; 
	resize: vertical; 
	min-height: 75px; 
}

select {
	cursor: pointer;
}

input[type="checkbox"], 
input[type="radio"] { 
	display: inline; 
}

.input-choose-group {
	div {
		margin: 10px;
	}
	label {
		margin-right: 10px !important;
		color: #333;
		font-size: 0.9em !important;
	}
	label, input, textarea, select {
		display: inline !important;
	}
}

.button-container {
	margin-top: 40px;
	input, button, a.button {
		display: inline-block !important;
	}
}

.form-vert > div {
	label, input, textarea, select {
		display: block;
	}
}

.form-hor > div {
	label {
		display: inline-block;
		margin-right: 15px;
		width: 175px;
		vertical-align: top;
	}
}

/* buttons */
a.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] { 
	@include sans-serif-font(""); 
	
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px;
	vertical-align: top; /* prevents other buttons from moving when one is active */
	-webkit-appearance: none;
	font-size: 1em; 
 	font-weight: 600;
 	line-height: normal; 
 	text-align: center;
 	text-decoration: none;

	/* Fix for odd Mozilla border & padding issues */
	&::-moz-focus-inner { 
		border: 0; 
		padding: 0; 
	} 
}

input[disabled="disabled"], 
.disabled { 
	cursor: default;
	&:hover, &:active { 
		@include transition("background 0.25s ease");
	}  
}

/******************************************************************************
	BUTTON THEMES 
*******************************************************************************/

// DEFAULT / GREY SET
$btn-default-color: #CCC;
.btn-default {
	a.button, 
	button, 
	input[type="submit"], 
	input[type="reset"], 
	input[type="button"] {
		@include border-radius(3px);
		background: #EEE;
		border: 1px solid #444;
	 	border-style: solid;
	 	color: #111;
		text-shadow: 0 1px rgba(255, 255, 255, .4); 

		&:hover {
			background-color: lighten($btn-default-color,5%);
		}
		&:active {
			@include box-shadow("inset 0 3px 3px " + darken($btn-default-color, 20%));
			background-color: #AAA;
			color: #FFF;
		}
	}
	input[disabled="disabled"], 
	.disabled { 
		background-color: $btn-default-color; 
		color: #888;
		&:hover, &:active { 
			@include box-shadow("none");
			background-color: darken($btn-default-color, 5%); 
			color: #888;
		}  
	}
}	

/* NOTE!
 * set-btn-theme() requires partials/buttons/index
 */
// CHROME
.btn-chrome {
	@include set-btn-theme("chrome");
}