@import "partials/base";

/* general */
body { 
	@include sans-serif-font;
	color: #333;  
	font-size: 16px;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%; 
}

::selection, 
::-moz-selection { 
	background: rgba(136, 221, 102, 0.75); 
	color: #111; 
}

img { 
	height: auto; 
	max-width: 100%; 
}

/* alerts */
[class^="alert-"] {
	@include clearfix;
	@include border-radius(3px);
	margin: 15px 0; 
	padding: 10px 30px 10px 10px;
	background: #DDD;  
	border: 1px #888 solid;
	font-size: 0.9em;  
	p { margin-bottom: 0; }

	button {
		float: right;
		line-height: 20px;
		padding: 0;
		position: relative;
		right: -20px;
		top: -5px;
		color: rgba(#333, 0.25);
		font-size: 1.5em;
		&, &:hover, &:active {
			background: transparent;
			border: none;
		}
		&:hover {
			color: #888;
		}
		&:active {
			color: #555;
		}
	}
}
.alert-success { 
	background-color: lighten($success-color, 55%); 
	border-color: lighten($success-color, 40%); 
	color: darken($success-color, 5%); 
}
.alert-error { 
	background-color: lighten($error-color, 55%); 
	border-color: lighten($error-color, 40%); 
	color: darken($error-color, 5%); 
}
.alert-warning { 
	background-color: lighten($warning-color, 55%); 
	border-color: lighten($warning-color, 40%); 
	color: darken($warning-color, 5%); 
}



/* custom support styles */
.full-width { 
	width: 100%; 
	padding-left: 0 !important; 
	padding-right: 0 !important; 
	text-align: center; 
}

/* Animated Header */
#header-animated {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 10000;
    height: 230px;
    overflow: hidden;
    @include transition("height 0.3s");

    .header-inner {
    	width: 90%;
	    max-width: 69em;
	    margin: 0 auto;
	    padding: 0 1.875em;
    }
}