@import "partials/base";
@import "utilities/animated-header";

$success-color-light: #BF8;

/* Skeleton */
#header-animated {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYV2NkwATGQKGzaMLGjOgC2BSBxJAVYjUJphGmEK8ikK0ghQQVwRSie2fIegYACygScTf2dYoAAAAASUVORK5CYII=");
	h1 {
		@include monospace-font("");
	}
	a {
		color: $success-color;
		&:hover {
			color: lighten($success-color, 30%);
			text-decoration: none;
		}
	}
}

#banner {
	@include clearfix();
	display: block;
    padding: 75px 100px;
    font-size: 1.8em;
}

$success-color-dark: darken($success-color, 15%);
$success-color-light: lighten($success-color, 40%);