@import "partials/base";

/* heading */
h1, h2, h3, h4, h5, h6 { color:#222; 
	@include serif-font("");
	a { 
		font-weight: inherit; 
	}
}
h1 { font-size: 3.50em; line-height: 60px; margin-bottom: 10px; }
h2 { font-size: 2.75em; line-height: 48px; margin-bottom: 10px; }
h3 { font-size: 2.25em; line-height: 35px; margin-bottom: 10px; }
h4 { font-size: 2.00em; line-height: 28px; margin-bottom: 5px; }
h5 { font-size: 1.75em; line-height: 28px; margin-bottom: 5px; }
h6 { font-size: 1.50em; line-height: 28px; margin-bottom: 5px; }

/* paragraph */
p { 
	margin-bottom: 15px; 
	line-height: 1.6;
}
strong, b { 
	font-weight:bold 
}
em, i { 
	font-style:italic 
}
small { 
	font-size: 75%; 
}

/* links */
a { 
	cursor: pointer;
	display: inline-block;
  	color: $main-color; 
	font-weight: 500;
	line-height: 1.25em;
  	text-decoration: none; 
	
	&:hover { 
		text-decoration: underline;
	}
	&:visited { 
		color: #04F; 
	}
}

/* lists */
ul, ol {
	margin: 0 0 0 2em;  
	line-height: 1em;
	ul, ol { 
		margin-top: 0.75em; 
	}
}
ul { 
	list-style: square outside;
	&.ul-no-bullet { 
		list-style: none; 
		& ul {
			list-style: inherit;
		}
	}
	&.ul-square { 
		list-style: square outside; 
	}
	&.ul-circle { 
		list-style: circle outside; 
	}
	&.ul-disc { 
		list-style: disc outside; 
	}
	ul {
		list-style-type: disc;
		ul {
			list-style-type: circle;
		}
	}
}

ol, ol.ol-default { 
	list-style: decimal; 
	ol {
		list-style: lower-alpha; 
		ol {
			list-style: lower-roman; 
		}
	}
}

ol.ol-formal {
	list-style: upper-roman;
	ol {
		list-style: upper-alpha; 
		ol {
			list-style: decimal;
			ol {
				list-style: lower-alpha; 
				ol {
					list-style: lower-roman; 
				}
			}
		}
	}
}
li {
	margin-bottom: 10px;
	p { line-height: 21px; }
}

/* definition list */
dl {
	margin: 10px 0;
	dt {
		margin-left: 1em;
	}
	dd {
		padding-left: 2em;
	}
	&[class^="def-"] dd:before {
	    display: inline-block;
	    margin-right: 3px;
	    margin-top: -10px;
	    position: relative;
	    pointer-events: none;
	}

	&.def-bold-title dt {
		font-weight: bold;
	}

	&.def-dash dd:before {
		content: "-";
	}
	&.def-circle dd:before {
		content: "\25CB";
	}
	&.def-disc dd:before {
		content: "\25CF";
	}
	&.def-square dd:before {
		content: "\25A0";
	}
	&.def-triangle dd:before {
		content: "\25BA";
	}
}

/* code */
code, kbd, tt { 
	@include monospace-font(""); 
}	

code, kbd {
	@include border-radius(3px);
	margin: 0 0.2em;
	padding: 0.1em 0.25em; 
	font-size: 0.8em; 
	line-height: 1.5em;
}
code { 
	vertical-align: text-top;
	background: #DEDEDE; 
	border-bottom: solid 1px #CCC;  
}
kbd { 
	vertical-align: middle; 
	background: #EEE; 
	border: 1px solid #CCC; 
	color: #333; 
	letter-spacing: -0.03em; 
}

/* blockquote */
blockquote { 
	margin: 10px 0 10px 10px; 
	padding: 3px 0 3px 15px; 
	border-left: 1px solid #DDD; 
	
	cite { 
		margin-top: 10px;
		display: block; 
		font-size: 12px; 
		font-style: normal;
		color: #555; 
		&:before { 
			content: "\2014 \0020"; 
		}
		a { 
			text-decoration: underline; 
			&:visited { 
				color: #555; 
			}
		}
	}
	&, p { 
		color: #777; 
		font-size: 95%; 
		font-style: italic; 
		line-height: 1.5em; 
		text-align: justify;
	}
	p { 
		margin-bottom: 0; 
	}
} 

/* horizontal rule */
hr { 
	margin: 15px 0; 
	height: 0; 
	border: solid #DDD; 
	border-width: 1px 0 0; 
	clear: both; 
}

/* table */
table { 
	margin: 10px 0; 
	width:100%; 
	border-collapse: collapse; 
	border-spacing: 0; 

	thead th {
		background: #555; 
  		color: white; 
		font-size: 95%; 
		font-weight: bold;
	}
	td { 
		font-size: 85%; 
	}
	th, td { 
		padding: 8px; 
		border: 1px solid #CCC; 
		word-wrap: break-word; 
	}

	&.striped {
		tbody tr:nth-of-type(odd) { 
	  		background: #eee; 
		}
	}
	
}

.table-fixed {
	table-layout: fixed;
}