@import "partials/base";

$header-height: 190px;
$header-shrink-height: 90px;

/* Animated Header */

body {
    background: #EEE;
}
/* contains the header and the sections */
#header-container {
    margin-top: $header-height;
}

#header-animated {
    @include transition("height 0.3s");

	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: $header-height;
    overflow: hidden;

    .header-inner {
        @include clearfix();
    	width: 90%;
	    margin: 0 auto;
    }

    h1, nav {
    	display: inline-block;
    	position: relative;
    }
    h1, nav a {
    	@include transition("all 0.3s");
    	line-height: $header-height;
    }
    h1 {	
 		float: left;
 		margin: 0;
 		color: #333;
    	letter-spacing: 4px;
    	font-size: 4em;
    }
    nav {
    	float: right;
    }
    nav a {
    	margin: 0 0 0 20px;
    	font-size: 1.5em;
    	font-weight: 600;
    }
    &.header-shrink {
	    height: $header-shrink-height;
        background: rgba(#FFF, 0.75);
	    h1, nav a {
	    	line-height: 90px;
	    }
	    h1 {
	    	font-size: 2em;
	    }
	}
}


/* Example Media Queries */
@media screen and (max-width: 55em) {
     
    #header-animated {
    	.header-inner {
        	width: 100%;
        }
        h1, nav {
        	display: block;
        	float: none;
	        margin: 0 auto;
	        text-align: center;
        }
        h1, nav a {
        	line-height: 115px;
        }
        nav a {
        	margin: 0 10px;
        }
        &.header-shrink {
        	h1, nav a {
        		line-height: 45px;
        	}
        	h1 {
        		font-size: 2em;
        	}
        	nav a {
        		font-size: 1em;
        	}
        }
    }
}
 
@media screen and (max-width: 32.25em) {
    #header-animated nav a {
        font-size: 1em;
    }
}
 
@media screen and (max-width: 24em) {
    #header-animated {
    	nav a, &.header-shrink nav a {
    		line-height: 1;
    	}
    }
}