@import "partials/base";

$header-height: 175px;
$header-shrink-height: 75px;
$default-color: #EEE;

/* Animated Header */
body {
    background: $default-color;
}

/* contains the header and the sections */
#header-container {
    margin-top: $header-height;
}

#header-animated {
    @include transition("height 0.3s");

	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: $header-height;
    overflow: hidden;

    .header-inner {
        @include clearfix();
    	width: 90%;
	    margin: 0 auto;
    }

    h1, nav {
        @include transition("all 0.3s");
        width: 48%;
        line-height: $header-height;
        vertical-align: middle;
    }

    h1 {
        float: left;
        margin: 0;
        color: #333;
        letter-spacing: 4px;
        font-size: 4em;
    }

    nav ul {
        line-height: $header-height;
    }

    nav {
        float: right;
        li {
            display: inline;
            list-style-type: none;
            
            ul {
                display: none;
                margin: 0;
                width: 200px;
                li {
                    display: block;
                    margin: 0;
                    padding: 10px 5px;
                    background: rgba(#FFF, 0.5);
                    border-bottom: 1px solid #BEBEBE;

                    &:last-child {
                        border-bottom: 0;
                    }


                    &:hover {
                        background: rgba(#FFF, 0.75);
                    }
                }
            }
            a {
                margin: 0 0 0 20px;
                font-size: 1.5em;
                font-weight: 600;
            }
        }
    }

    &.header-shrink {
        @include clearfix();
	    height: $header-shrink-height;
        background: rgba(#FFF, 0.9);
	    h1, nav ul {
	    	line-height: $header-shrink-height;
	    }
	    h1 {
	    	font-size: 2em;
	    }
	}
}


/* Example Media Queries */
@media screen and (max-width: 55em) {
     
    #header-animated {
    	.header-inner {
        	width: 100%;
        }
    }   
}
 
@media screen and (max-width: 32.25em) {
    #header-animated {
        nav li a {
            font-size: 1em;
        }
    }
}
 
@media screen and (max-width: 24em) {
    #header-animated {
    	nav li a, &.header-shrink nav li a {
    		line-height: 1em !important;
    	}
    }
}