//$orange-chrome-color-set: (bg-color #F82, border-color #D71, bg-grad-start #FA2, 
//		bg-grad-stop #E72, hover-grad-start #F81, hover-grad-stop #E61);
$orange-chrome-color-set: (#F82, #D71, #FA2, #E72, #F81, #E61);
//$green-chrome-color-set: (bg-color #8D2, border-color #4B1, bg-grad-start #9D2, 
//		bg-grad-stop #2C3, hover-grad-start #5D1, hover-grad-stop #AD1);
$green-chrome-color-set: (#8D2, #4B1, #9D2, #2C3, #5D1, #AD1);
//$rose-chrome-color-set: (bg-color #D26, border-color #B1A, bg-grad-start #D28, 
//		bg-grad-stop #C27, hover-grad-start #D1B, hover-grad-stop #C18);
$rose-chrome-color-set: (#D26, #B1A, #D1B, #C18, #D28, #C27);
//$grey-chrome-color-set: (bg-color #777, border-color #666, bg-grad-start #999, 
//		bg-grad-stop #AAA, hover-grad-start #BBB, hover-grad-stop #CCC);
$grey-chrome-color-set: (#777, #666, #888, #444, #666, #777);
//$blue-chrome-color-set: (bg-color #29C, border-color #17B, bg-grad-start #26C, 
//		bg-grad-stop #29C, hover-grad-start #29E, hover-grad-stop #19B);
$blue-chrome-color-set: (#29C, #17B, #26C, #29C, #29E, #19B);


@mixin btn-chrome-skel {
	@include border-radius(4px);
	@include transition(all 0.1s ease-in);

	display: inline-block; 
	margin: 0 5px 20px 0; 
	padding: 8px 15px;

	&:active {
		top: 1px;
		position: relative;
	}

}

@mixin btn-chrome($color-set) {
	@include background-gradient(nth($color-set, 1), top, 
		nth($color-set, 3) 0%, nth($color-set, 4) 100%);
	@include btn-chrome-skel;

	border: solid 1px nth($color-set, 2);
	color: #333;	
	&:hover {
		@include background-gradient(nth($color-set, 5), top, 
			nth($color-set, 5) 0%, nth($color-set, 6) 100%);
	}
	&:active {
		color: #444;
		@include background-gradient(nth($color-set, 1), top, 
			nth($color-set, 4) 0%, nth($color-set, 3) 100%);
	}
}

@mixin btn-chrome-disabled {
	@include btn-chrome-skel;
	@include background-gradient(nth($grey-chrome-color-set, 5), top, 
			nth($grey-chrome-color-set, 5) 0%, nth($grey-chrome-color-set, 6) 100%);
	@include btn-chrome($grey-chrome-color-set);
	color: #FFF;
	&:hover, &:active {
		@include background-gradient(nth($grey-chrome-color-set, 5), top, 
			nth($grey-chrome-color-set, 5) 0%, nth($grey-chrome-color-set, 6) 100%);
		top: 0;
		color: #FFF;
	}
}

@mixin btn-chrome-theme($theme) {
	@if $theme == "success" {
		@include btn-chrome($green-chrome-color-set);
	} @else if $theme == "error" {
		@include btn-chrome($rose-chrome-color-set);
	} @else if $theme == "warning" {
		@include btn-chrome($orange-chrome-color-set);
	} @else if $theme == "disabled" {
		@include btn-chrome-disabled;
	} @else {
		@include btn-chrome($blue-chrome-color-set);
	}
}