//$blue-flat-color-set: (bg-color #06A, border-color #047, active-bg-color #059, hover-bg-color #27B)
$blue-flat-color-set: (#06A, #047, #059, #27B);
//$grey-flat-color-set: (bg-color #888, border-color #444, active-bg-color #666, hover-bg-color #808080)
$grey-flat-color-set: (#888, #444, #666, #808080);
//$green-flat-color-set: (bg-color #3B0, border-color #270, active-bg-color #290, hover-bg-color #4B2)
$green-flat-color-set: (#3B0, #270, #290, #4B2);
//$red-flat-color-set: (bg-color #B02, border-color #801, active-bg-color #A01, hover-bg-color #C23)
$red-flat-color-set: (#B02, #801, #A01, #C23);
//$orange-yellow-flat-color-set: (bg-color #C90, border-color #960, active-bg-color #B80, hover-bg-color #DA2)
$orange-yellow-flat-color-set: (#C90, #960, #B80, #DA2);

@mixin btn-flat-skel {
	@include border-radius(4px);
	
	padding: 10px 15px;
	text-shadow: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:active {
		position: relative;
	}	
}

@mixin btn-flat($color-set) {
	@include btn-flat-skel;
	background-color: nth($color-set, 1);
	border-color: nth($color-set, 2);
	border-width: 1px;
	color: #FFF;

	&:hover {
		background-color: nth($color-set, 4);
		border-color: nth($color-set, 2);
	}

	&:active {
		@include box-shadow("inset 0 3px 3px " + darken(nth($color-set, 1), 10%));
		background-color: nth($color-set, 3);
	}
}

@mixin btn-flat-disabled {
	background-color: nth($grey-flat-color-set, 1);
	&:hover, &:active {
		background-color: nth($grey-flat-color-set, 4);
		border-color: nth($grey-flat-color-set, 2);
	}	
	&:active {
		@include box-shadow("none");
	}
}

@mixin btn-flat-theme($theme) {
	@if $theme == "success" {
		@include btn-flat($green-flat-color-set);
	} @else if $theme == "error" {
		@include btn-flat($red-flat-color-set);
	} @else if $theme == "warning" {
		@include btn-flat($orange-yellow-flat-color-set);
	} @else if $theme == "disabled" {
		@include btn-flat-disabled;
	} @else {
		@include btn-flat($blue-flat-color-set);
	}
}